.button {
    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-bottom: 0.75rem;
    border-radius: 1rem;
    text-align: center;
    color: white;
    cursor: pointer;


    transition: all 0.2s ease-in-out;

    &.primary-button{
        background-color: #e1034d;
       padding-top: 0.75rem;
    }

    &:active{
        transform: scale(0.9);
    }
}